.admin-greeting-title {
  line-height: 3rem;
}

.blue-btn.add-new {
  color: white;
  border-style: solid;
  font-weight: bold;
}

.blue-btn.add-new:hover {
  color: blue;
}

.admin-info {
  /* /margin-top: 0.5rem; */
  padding-block: 3rem;
  border-bottom: 2px white solid;
}

.admin-info h1 {
  margin-bottom: 2rem;
}
.admin-info .blue-btn.add-new {
  margin-inline: 0.5rem;
}
.admin-info .change-username-btn {
  color: rgb(27, 27, 27);
  font-weight: bold;
  outline: none;
  background-color: rgb(229, 229, 229);
  padding: 0.5rem 1rem;
  border-radius: 15px;
  border-style: solid;
}
.admin-info .change-username-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border-color: white;
  transition: all ease-in-out 150ms;
}
.change-username-form {
  margin-top: 1rem;
  border: 2px solid rgb(112, 112, 112);
  width: fit-content;
  padding-inline: 0.5rem;
  border-radius: 15px;
}
.change-username-form .change-username-input {
  all: unset;
  outline: none;
  background-color: transparent;
  border-right: 2px solid rgb(112, 112, 112);
  box-shadow: none;
  padding: 0.5rem;
  color: white;
}
.change-username-btn.green {
  background-color: rgb(0, 187, 0) !important;
  border-style: solid;
  color: white;
}
.change-username-btn.green:hover {
  background-color: transparent !important;
  border: 2px solid green;
  color: white;
}

.red-btn {
  background-color: red;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  font-weight: bold;
  margin-top: 0.5rem;
}
.red-btn:hover {
  background-color: transparent;
  border: 2px solid red;
}

.green-btn {
  background-color: green;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  font-weight: bold;
  margin-top: 0.5rem;
}
.green-btn:hover {
  background-color: transparent;
  border: 2px solid green;
}

.movie-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem 1.2rem;
  margin-top: 2.5rem;
}

.movie-card {
  width: 16rem;
  max-width: 16rem;
  /* height: 18rem; */
  background-color: rgb(33, 33, 33);
  flex: 1 1 calc(51% - 25px);
  border-radius: 5px;
  overflow: hidden;
}

.movie-card-img img {
  width: 100%;
  height: 24rem;
  object-fit: cover !important;
}

.movie-card-info {
  padding: 1rem 0.9rem;
}

.input-new-item-form input {
  all: unset;
  display: block;
  border: 2px solid rgb(112, 112, 112);
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  width: 80%;
  max-width: 32rem;
  border-radius: 5px;
}

.input-new-item-form input:focus {
  border-color: white;
}

.input-new-item-form input:nth-child(1) {
  margin-top: 3rem;
}

.submit-btn {
  color: rgb(27, 27, 27);
  font-weight: bold;
  outline: none;
  background-color: rgb(225, 225, 225);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 2px solid rgb(225, 225, 225);
  margin-top: 1rem;
}
.submit-btn:hover {
  background-color: transparent;
  color: white;
  transition: all ease-in-out 150ms;
}

.cancel-square-btn {
  color: white;
  font-weight: bold;
  outline: none;
  background-color: red;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 2px solid red;
  margin-top: 1rem;
  margin-inline: 0.5rem;
}
.cancel-square-btn:hover {
  background-color: transparent;

  transition: all ease-in-out 150ms;
}

.genericCard-textarea {
  height: 9rem;
  width: 100%;
  background-color: transparent;
  color: white;
  font-size: medium;
  margin-block: 1rem;
  padding: 0.5rem;
  border: 1px solid white;
  text-align: left;
  text-wrap: wrap;
  overflow-x: hidden !important;
  border-radius: 5px;
  overflow: scroll;
  overflow-y: auto;
}
